.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  font-size: 3rem;
}

h6 {
  font-size: .8rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #506AD4;
}

a:hover {
  padding-bottom: 2px;
  text-decoration: underline wavy #A3CDD9;
  color: #506AD4;
}

main {
  background-image: linear-gradient(#FAC232, #ffecbf);
  font-family: Georgia, Times, serif;
  display: inline-block;
}

.Navbar {
  font-size: 1.2rem;
  background-color: #FFFCF8;
}

.Container {
  display: flex;
  justify-content: center;
  padding: 16% 3%;
  box-sizing: border-box;
  text-align: center;
}

.Section-content {
  padding-top: 6%;
}

.Image {
  border-radius: 20px;
  max-width: 100%;
}

#welcome-message {
  font-size: 6rem;
}

#about {
  padding: 20px;
}

#about-words {
  background-color: #FFFCF8;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#projects-divider {
  border: none;
  height: 6px;
  color: #506AD4;
}

#projects-cards {
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
}

.Card {
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  background-color: #FFFCF8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Card-content {
  padding: 25px;
  border: .5px solid black;
  border-radius: 10px;
  height: 100%;
}

.Project-description {
  padding-top: 4px;
}